@import url('./asciinema/asciinema-player.css');

:root {
    --font-sans:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

    --font-mono:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        monospace;
}

* {
    margin: none;
    padding: none;
}

body {
    background-color: black;
    color: white;
    font-family: var(--font-mono);
}

img {
    width: 80vw;
    height: auto;
}

#title {
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
}

.bloc {
    height: auto;
    width: 80vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    border-radius: 1em;

}